* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

header h1 {
  text-align: center;
}

header ul {
  display: flex;
  list-style: none;
  padding: 25px;
  gap: 25px;
  border-top: rgb(200, 70, 0);
  border-top-style: solid;
  border-bottom: rgb(200, 70, 0);
  border-bottom-style: solid;
}

header li {
  margin: auto;
  padding: 10px 25px;
  max-width: 100px;
  border-style: solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 6px;
  background-color: rgb(200, 70, 0);
  flex: 1 1 0;
  text-align: center;
}

header li a {
  text-decoration: none;
  color: rgb(255,255,255);
}

.body {
  margin: 5% 25%;
}

.contact-form form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form input {
  border-radius: 6px;
  padding: 5px;
}

.contact-form textarea {
  border-radius: 6px;
  padding: 5px;
  height: 200px;
}

.contact-form button {
  max-width: 150px;
  padding: 5px;
  border-radius: 6px;
}

.contact-form button:hover {
  cursor: pointer;
  background-color: hsl(208, 100%, 90%);
}